.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
}

.side_header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.side_icons_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.side_icons_right > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.side_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.side_searchbar{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.side_searchbar > input{
    border: none;
    margin-left: 10px;
}

.side_searchbar > .MuiSvgIcon-root{
    color: grey;
    padding: 10px;
}